@import "variables";

@mixin bodyStyle {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #666565;
    line-height: 1.5 !important;
    transition: all 0.5s;
    overflow-x: hidden;
    @media #{$smallMobileScreen} {
        overflow-x: hidden !important;
    }
}

@mixin border ($width, $height, $borderRadius) {
    border: 1px dashed $primaryColor;
    width: $width;
    height: $height;
    border-radius: $borderRadius;
    line-height: $height;
}

@mixin focus{
    &:focus{
        box-shadow: none;
    }
}

@mixin icons{
    color: $primaryColor;
    font-size: 15px;
    margin-right: 0.8rem;
}